.about_container__parent {
  grid-column: startPoint / endEnd;
  grid-row: 3 / 4; //explict row specifid for the parent
  padding: 3rem 1rem;
  overflow: hidden;
}

// ============
//   GRID SETUP FOR ABOUT SECTION START HERE
// media query break-point[800= 50em,
//  500=31.25,
//  460=28.75em,
//  300=18.75em ]
//  ========

.about_container__wrapper {
  display: grid;
  align-items: stretch;
  grid-template-columns: 0.7rem 1fr 0.5fr 0.7rem;
  gap: 1rem;
  padding: 4rem 0rem;
  overflow-x: hidden;
}
.about_info {
  word-spacing: 0.75rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;

  font-family: Zen Loop, cursive;
  text-align: center;
  align-self: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #fff;
  word-wrap: wrap;
  padding: 1rem;
  grid-column: 2 / 3;
  font-size: 2.5rem;
  //  ===

  @media screen and (max-width: 50em) {
    grid-column: 1 / -1;
    line-height: 3.5rem;
    font-size: 2.7rem;
  }
}
.test {
  @media screen and (max-width: 50em) {
    grid-column: 1 / -1;
  }

  height: 100%;
  // =========
  //setup for image positining
  display: grid; //❤
  grid-template-rows: repeat(3, 17rem);
  grid-template-columns: 1fr repeat(3, 10rem) 1fr;

  // == adjust the height of pic
  @media screen and (max-width: 50rem) {
    grid-template-columns: 1fr repeat(3, 15rem) 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media screen and (max-width: 28.75em) {
    grid-template-columns: 1fr repeat(3, 10rem) 1fr;
  }

  @media screen and (max-width: 18.75rem) {
    grid-template-columns: 1fr repeat(3, 8rem) 1fr;
  }
}

.about_img {
  grid-column: 1 / -1; //❤
  grid-row: 1 / -1; //❤
  text-align: center;
  width: 100%;
  margin: auto;

  @media screen and (max-width: 50rem) {
    grid-column: 2/5;
  }

  @media screen and (max-width: 31.25rem) {
    grid-column: 1/-1;
    width: 83.5%;
  }
}
