.contact_container {
  grid-column: startPoint / -1;
  grid-row: 6 / 7;
  padding: 3rem 1rem;
  overflow-x: hidden;
}

// form setup
.form {
  padding: 4rem 2rem;
  width: 50%;

  @media screen and (max-width: 50em) {
    //800
    width: 70%;
  }

  @media screen and (max-width: 40.625em) {
    padding: 4rem 1rem;

    // 650px
    //800
    width: 85%;
  }

  @media screen and (max-width: 37.5em) {
    //600
    width: 95%;
    padding: 4rem 1rem;
  }

  @media screen and (max-width: 26.25em) {
    //420
    padding: 4rem 0.5rem;
  }

  @media screen and (max-width: 21.875em) {
    //350
    width: 98%;
  }
  margin: 0 auto;
}
// ====================
// ==================

.reuse {
  font-family: Zen Loop, cursive;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.fieldset {
  border-radius: 0.7rem;
  padding: 0.2rem;
  border: 1px solid #555;
}
.legend {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
  @extend .reuse;
  letter-spacing: 0.3rem;
}

.formWrapper {
  padding: 1rem 2rem;
  text-align: center;

  & > div {
    padding: 1rem;

    label {
      display: block;
      font-size: 2rem;
      // width: 72%;
      text-align: left;
      padding: 1rem 0rem;
      @extend .reuse;
    }

    input,
    textarea {
      resize: none; //for text area

      display: block;
      width: 100%;
      padding: 1rem;
      border-radius: 0.7rem;
      background: none;
      color: white;
      outline: none;
      border: 1px solid #555;
      letter-spacing: 0.12rem;
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;

      @media screen and (max-width: 50em) {
        font-size: 2rem;
      }

      &:focus:invalid {
        border: 1px solid orange;
        border-radius: 0.7rem;
        transition: border 0.2s ease-in;
      }
      &:focus:valid {
        border: 1px solid dodgerblue;
        border-radius: 0.7rem;
      }

      &::placeholder {
        color: #fff;
        font-size: 1.5rem;

        @extend .reuse;
      }
    }
  }
}
// ===============

// ===================
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.95) inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

.btn_container {
  margin-top: 2rem;
}
.button {
  border: none;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  appearance: none;
  @extend .reuse;
}

.sending_container {
  display: flex;
  align-items: center;

  span {
    margin-left: 1rem;
  }
}
// message body

.message_container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: #fff;
}

.header_h1 {
  font-size: 2rem;
  font-weight: 700;
}
