.footer_container {
  background-color: rgba(0, 0, 0, 0.85);
  grid-column: startPoint / -1;
  grid-row: 7 / 8;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  text-align: center;
}
.footer_info {
  font-size: 2.5rem;
  text-transform: capitalize;
  padding: 2rem;
  font-family: Zen Loop, cursive;
  letter-spacing: 2.5px;
  span {
    vertical-align: middle;
    font-size: 2rem;
  }
}
.footer_Auther {
  padding: 1rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-family: Zen Loop, cursive;
  letter-spacing: 2.5px;
}
