* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media screen and (max-width: 50em) {
    font-size: 50%;
  }
}
body {
  background: rgba(0, 0, 0, 0.95);
  // background: #252926;
  color: #fff;
  letter-spacing: 0.2rem;
  z-index: 1;
}
.grid_container {
  display: grid;

  grid-template-columns:
    [startPoint]5rem [endPoint]repeat(
      5,
      [col-start] minmax(min-content, 16.2rem) [col-end]
    )
    [endStart]1fr[endEnd];
}
// GLOBAL STYLE heading = [about, skill etc...]

.title_text {
  font-size: 1.55rem;

  text-transform: uppercase;
  font-family: Sacramento;
  color: transparent;
  background-image: linear-gradient(
    105deg,
    coral 0%,
    yellow 25%,
    red 40%,
    coral 50%,
    yellow 80%,
    red 100%
  );
  background-clip: text;
  text-shadow: #f9a602 0px 0px 50px, #f9a602 0px 0px 75px;
  position: relative;
}
.center_title {
  text-align: center;
}

.uderline {
  // background: rgb(0, 0, 0, 0.7);
  // background: red;
  background: yellow;
  height: 1px;
  display: inline-block;
  position: absolute;
  bottom: -15%;
  right: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
}

/*=============== 
Navbar
===============
*/

nav {
  grid-column: startPoint / -1;
  grid-row: 1 / 2;
}

img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: conver;
}
// ============================

// BANER ANIMATION
.banner-user {
  height: 70vh;
  @media screen and (max-width: 43.5em) {
    height: 60vh;
  }
}
.banner-user-elem {
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.banner-user-elem .banner-user-title {
  font-size: 32px;
  top: 40%;
}
.banner-user-elem .banner-user-text {
  top: 40%;
}
.banner-anim-elem .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

// GRAMERRLY

//
